<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      We want just to let you know that the article
      
      <%= @article%> 


      
      the <%= @alert_type%>s has reached <%= @target%>


      Thank you
    </p>
    
  </body>
</html>
