<h1>Edit <%= @user.name%>'s Profile</h1>
<form action="/users/<%= @user.id%>" method="post">
<div class="mb-3">
    <input name= "name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="<%= @user.name%>">
</div>
<div class="mb-3">
    <input name= "email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="<%= @user.email%>">
</div>
<div class="mb-3">
    <input name= "password" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Password">
</div>
<div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3">Update Account</button>
</div>
</form>