<h1>Create New Account</h1>
<form action="/users" method="post">
<div class="mb-3">
    <input name= "name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
</div>
<div class="mb-3">
    <input name= "email" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Email">
</div>
<div class="mb-3">
    <input name= "password" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Password">
</div>
<div class="mb-3">
    <button type="submit" class="btn btn-primary mb-3">Create Account</button>
</div>
</form>