<h1><%=@user.name%>'s Profile</h1>
<h2><%=mail_to(@user.email)%></h2>
<%if @user.admin %>
    This is the admin Profile
<%end%>
<section>
<%= link_to "Edit Profile", "/users/#{@user.id}/edit", class: "button" %>
<%= button_to "Delete Account", "/users/#{@user.id}", method: :delete, data: {confirm: "Are you sure?"}, class: "button" %>
</section>